<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test-Suite">

    <test name = "Positive Test cases">
        <classes>
            <class name = "org.example.Task17.aNavigateElements" />
            <class name = "org.example.Task17.bNavigateForms" />
            <class name = "org.example.Task17.cNavigateWidgets" />
            <class name = "org.example.Task17.dNavigateInteractions" />
        </classes>
    </test>

</suite>