<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test-Suite">

    <test name = "Positive Test cases">
        <groups>
            <run>
                <include name="homepage tests"/>
            </run>
        </groups>

        <classes>
            <class name="org.example.Task19.Task17.ClassA"></class>
            <class name="org.example.Task19.Task18.ClassA"></class>
        </classes>
    </test>

</suite>